<div ng-controller="userCtrl">
    <ws-datagrid configuration="datagrid" inner-ctrl="innerCtrl">
        <div class="collapse" id="showOrHide">
            <form class="form-inline">
                <div class="ws-search-input-group">
                    <div class="form-group">
                        <label title="用户名" for="username">用户名</label>
                        <input id="username" type="text" class="form-control input-sm"
                               ng-model="datagrid.params.username" maxlength="10">
                    </div>
                    <div class="form-group">
                        <label title="姓名" for="name">姓名</label>
                        <input id="name" type="text" class="form-control input-sm" ng-model="datagrid.params.name"
                               maxlength="10">
                    </div>
                    <div class="form-group">
                        <label title="创建时间起" for="createTimeStart">创建时间起</label>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input size="16" type="text" id="createTimeStart" name="createTimeStart"
                                   class="form-control input-sm"
                                   placeholder="年-月-日 时:分" ng-model="datagrid.params.createTimeStart">
                        </div>
                    </div>
                    <div class="form-group">
                        <label title="创建时间止" for="createTimeEnd"> 创建时间止</label>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input size="16" type="text" id="createTimeEnd"
                                   class="form-control input-sm" placeholder="年-月-日 时:分"
                                   ng-model="datagrid.params.createTimeEnd">
                        </div>
                    </div>
                    <div class="ws-search-btn-group ws-inline">
                        <button class="btn btn-info btn-sm" type="submit" ng-click="searchUser()">查询</button>
                        <button class="btn btn-info btn-sm" type="button" ng-click="resetSearch()">清空</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <button class="btn btn-info btn-sm" type="button" ng-click="onAdd()"
                    ws-permcode="system.permission.user.add">添加
            </button>
            <button class="btn btn-info btn-sm" type="button"
                    ng-click="onEdit()" ws-permcode="system.permission.user.edit">编辑
            </button>
            <button class="btn btn-info btn-sm" type="button"
                    ng-click="onDelete()" ws-permcode="system.permission.user.del">删除
            </button>
            <button class="btn btn-info btn-sm" type="button" ng-click="setRoles()"
                    ws-permcode="system.permission.user.role.remove, system.permission.user.role.add">设置角色
            </button>
            <button class="btn btn-info btn-sm" type="button" ng-click="showGroups()"
                    ws-permcode="system.permission.user.group.add, system.permission.user.group.remove">设置组
            </button>
            <button class="btn btn-primary btn-sm pull-right" data-toggle="collapse" data-target="#showOrHide">
                显示/隐藏搜索
            </button>
        </div>

    </ws-datagrid>

    <div class="modal fade" id="setGroupModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <ul class="nav nav-tabs ws-tab" role="tablist"
                        style="padding-top: 10px;">
                        <li role="presentation" class="active"><a
                                href="#includeGroup" aria-controls="includeGroup" role="tab"
                                data-toggle="tab">已添组</a></li>
                        <li role="presentation"><a href="#excludeGroup"
                                                   aria-controls="excludeGroup" role="tab"
                                                   data-toggle="tab">可选组</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="includeGroup" role="tabpanel">
                            <ws-datagrid configuration="groupInclDatagrid"
                                         inner-ctrl="groupInclCtrl">
                                <div style="padding-top: 10px;">
                                    <form name="groupInclForm">
                                        <div class="mlr10">
                                            <table width="100%" border="0" cellspacing="2" cellpadding="0"
                                                   class="table_edit search">
                                                <tr>
                                                    <th>名称:</th>
                                                    <td><input class="Input_search" type="text" placeholder="名称"
                                                               ng-model="groupInclDatagrid.params.name"></td>
                                                    <td colspan="2">
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="searchGroupIncl()">查询
                                                        </button>
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="clearGroupIncl()">清空
                                                        </button>
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="removeGroupIncl()"
                                                                ws-permcode="system.permission.user.group.remove">
                                                            移除组
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </ws-datagrid>
                        </div>

                        <div class="tab-pane" id="excludeGroup" role="tabpanel">
                            <ws-datagrid configuration="groupExclDatagrid"
                                         inner-ctrl="groupExclCtrl">
                                <div style="padding-top: 10px;">
                                    <form name="groupExclForm">
                                        <div class="mlr10">
                                            <table width="100%" border="0" cellspacing="2" cellpadding="0"
                                                   class="table_edit search">
                                                <tr>
                                                    <th>名称:</th>
                                                    <td><input class="Input_search" type="text" placeholder="名称"
                                                               ng-model="groupExclDatagrid.params.name"></td>
                                                    <td colspan="2">
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="searchGroupExcl()">查询
                                                        </button>
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="clearGroupExcl()">清空
                                                        </button>
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="addGroupExcl()"
                                                                ws-permcode="system.permission.user.group.add">
                                                            添加组
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </ws-datagrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 			--- -->
    <div class="modal fade" id="roleslModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <ul class="nav nav-tabs ws-tab" role="tablist"
                        style="padding-top: 10px;">
                        <li role="presentation" class="active"><a href="#includeRole"
                                                                  aria-controls="includeRole" role="tab"
                                                                  data-toggle="tab">已添角色</a></li>
                        <li role="presentation"><a href="#excludeRole"
                                                   aria-controls="excludeRole" role="tab"
                                                   data-toggle="tab">可选角色</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="includeRole" role="tabpanel">
                            <ws-datagrid configuration="roleInclDatagrid"
                                         inner-ctrl="roleInclCtrl">
                                <div style="padding-top: 10px;">
                                    <form name="roleInclForm">
                                        <div class="mlr10">
                                            <table width="100%" border="0" cellspacing="2" cellpadding="0"
                                                   class="table_edit search">
                                                <tr>
                                                    <th>名称:</th>
                                                    <td><input class="Input_search" type="text" placeholder="名称"
                                                               ng-model="roleInclDatagrid.params.name"></td>
                                                    <td colspan="2">
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="searchRoleIncl()">查询
                                                        </button>
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="clearRoleIncl()">清空
                                                        </button>
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="removeRoleIncl()"
                                                                ws-permcode="system.permission.user.role.remove">
                                                            移除角色
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </ws-datagrid>
                        </div>
                        <div class="tab-pane" id="excludeRole" role="tabpanel">
                            <ws-datagrid configuration="roleExclDatagrid"
                                         inner-ctrl="roleExclCtrl">
                                <div style="padding-top: 10px;">
                                    <form name="roleExclForm">
                                        <div class="mlr10">
                                            <table width="100%" border="0" cellspacing="2" cellpadding="0"
                                                   class="table_edit search">
                                                <tr>
                                                    <th>名称:</th>
                                                    <td><input class="Input_search" type="text" placeholder="名称"
                                                               ng-model="roleExclDatagrid.params.name"></td>
                                                    <td colspan="2">
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="searchRoleExcl()">查询
                                                        </button>
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="clearRoleExcl()">清空
                                                        </button>
                                                        <button class="btn_blue right mb10"
                                                                type="button" ng-click="addRoleExcl()"
                                                                ws-permcode="system.permission.user.role.add">
                                                            添加角色
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </ws-datagrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 添加模态窗口 -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
                </div>
                <div class="modal-body">
                    <form name="addUserForm" novalidate>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_edit">
                            <tr>
                                <th>用户名：</th>
                                <td><input class="Input_edit" type="text" name="username" placeholder="用户名"
                                           ng-model="info.username" required maxlength="10">
                                    <input type="hidden" name="userId" ng-model="info.id"></td>
                                <th>姓名：</th>
                                <td>
                                    <input class="Input_edit" type="text" name="name" placeholder="姓名"
                                           ng-model="info.name" required
                                           ng-pattern="/^([\u4E00-\u9FA5]+|[a-zA-Z]+)$/" maxlength="10">
                                </td>
                                <th>用户类型：</th>
                                <td><select disabled="disabled" class="select_search" name="type"
                                            ng-model="info.type">
                                    <option value="">请选择</option>
                                    <option ng-selected="type.id == 'NORMAL'" ng-repeat="type in types"
                                            value="{{type.id}}" ng-bind="type.name"></option>
                                </select></td>
                            </tr>
                            <tr>
                                <th>证件号码：</th>
                                <td><input class="Input_edit" type="text" name="idCard"
                                           ng-pattern="/^(\d{18,18}|\d{15,15}|\d{17,17}x)$/"
                                           placeholder="证件号码" ng-model="info.idCard" required></td>
                                <th>邮箱：</th>
                                <td><input class="Input_edit" type="text" name="email" placeholder="邮箱"
                                           ng-model="info.email" required
                                           ng-pattern="/^[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?$/"
                                           maxlength="50"></td>
                                <th>联系电话：</th>
                                <td><input class="Input_edit" type="text" name="phone"
                                           placeholder="联系电话"
                                           ng-pattern="/^1\d{10}$|^0\d{2}-?\d{8}$|^0\d{3}-?\d{7}$/"
                                           ng-model="info.phone" required></td>
                            </tr>
                        </table>
                    </form>
                    <div class="errMsg">
                        <div class="alert alert-danger"
                             ng-messages="addUserForm.username.$error"
                             ng-show="addUserForm.username.$dirty&&addUserForm.username.$invalid"
                             ng-messages-multiple>
                            <div ng-message="required">用户名为必填项</div>
                        </div>
                        <div class="alert alert-danger"
                             ng-messages="addUserForm.name.$error"
                             ng-show="addUserForm.name.$dirty&&addUserForm.name.$invalid"
                             ng-messages-multiple>
                            <div ng-message="required">姓名为必填项</div>
                            <div ng-message="pattern">姓名格式为中文或英文</div>
                        </div>
                        <div class="alert alert-danger"
                             ng-messages="addUserForm.type.$error"
                             ng-show="addUserForm.type.$dirty&&addUserForm.type.$invalid"
                             ng-messages-multiple>
                            <div ng-message="required">用户类型必选</div>
                        </div>
                        <div class="alert alert-danger"
                             ng-messages="addUserForm.idCard.$error"
                             ng-show="addUserForm.idCard.$dirty&&addUserForm.idCard.$invalid"
                             ng-messages-multiple>
                            <div ng-message="required">证件号码为必填项</div>
                            <div ng-message="pattern">证件号码格式为15、18或17+x数字</div>
                        </div>
                        <div class="alert alert-danger"
                             ng-messages="addUserForm.phone.$error"
                             ng-show="addUserForm.phone.$dirty&&addUserForm.phone.$invalid"
                             ng-messages-multiple>
                            <div ng-message="required">联系电话为必填项</div>
                            <div ng-message="pattern">
                                电话格式为11位手机号或者01012345678或010-12345678或者05381234567或0538-1234567
                            </div>
                        </div>
                        <div class="alert alert-danger"
                             ng-messages="addUserForm.email.$error"
                             ng-show="addUserForm.email.$dirty&&addUserForm.email.$invalid"
                             ng-messages-multiple>
                            <div ng-message="required">邮箱为必填项</div>
                            <div ng-message="pattern">邮箱格式为xxx@xx.xx</div>
                            <div ng-message="maxlength">邮箱长度不能超过50</div>
                        </div>
                    </div>
                </div>
                <div class="btn_Edit1 mb20">
                    <button type="button" class="btn_blue" ng-click="reset()">清空</button>
                    <button type="button" class="btn_blue"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn_blue" ng-click="onSave()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 编辑用户 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
                </div>
                <div class="modal-body">
                    <form name="ediUtserForm" novalidate>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_edit">
                            <tr>
                                <th>用户名：</th>
                                <td><input class="Input_edit" readonly type="text" name="username"
                                           placeholder="用户名" ng-model="edit.username" required maxlength="10"
                                           disabled>
                                    <input type="hidden" name="userId" ng-model="edit.id"></td>
                                <th>姓名：</th>
                                <td>
                                    <input class="Input_edit" type="text" name="name" placeholder="姓名"
                                           ng-pattern="/^([\u4E00-\u9FA5]+|[a-zA-Z]+)$/" ng-model="edit.name"
                                           required maxlength="10">
                                </td>
                                <th>用户类型：</th>
                                <td><select disabled="disabled" class="select_search" name="type"
                                            ng-model="edit.type" required>
                                    <option value="">请选择</option>
                                    <option ng-selected="type.id == edit.type" ng-repeat="type in types"
                                            value="{{type.id}}" ng-bind="type.name"></option>
                                </select></td>
                            </tr>
                            <tr>
                                <th>证件号码：</th>
                                <td><input class="Input_edit" type="text" name="idCard"
                                           ng-pattern="/^(\d{18,18}|\d{15,15}|\d{17,17}x)$/"
                                           placeholder="证件号码"
                                           ng-model="edit.idCard" required></td>
                                <th>邮箱：</th>
                                <td><input class="Input_edit" type="text" name="email"
                                           placeholder="邮箱"
                                           ng-model="edit.email" required
                                           ng-pattern="/^[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?$/"
                                           maxlength="50"></td>
                                <th>联系电话：</th>
                                <td><input class="Input_edit" type="text" name="phone"
                                           placeholder="联系电话"
                                           ng-pattern="/^1\d{10}$|^0\d{2}-?\d{8}$|^0\d{3}-?\d{7}$/"
                                           ng-model="edit.phone" required></td>
                            </tr>
                        </table>
                    </form>
                    <div class="errMsg">
                        <div class="alert alert-danger"
                             ng-messages="ediUtserForm.name.$error"
                             ng-show="ediUtserForm.name.$dirty&&ediUtserForm.name.$invalid"
                             ng-messages-multiple>
                            <div ng-message="required">姓名为必填项</div>
                            <div ng-message="pattern">姓名格式为中文或英文</div>
                        </div>
                        <div class="alert alert-danger"
                             ng-messages="ediUtserForm.idCard.$error"
                             ng-show="ediUtserForm.idCard.$dirty&&ediUtserForm.idCard.$invalid"
                             ng-messages-multiple>
                            <div ng-message="required">证件号码为必填项</div>
                            <div ng-message="pattern">证件号码格式为15、18或17+x数字</div>
                        </div>
                        <div class="alert alert-danger"
                             ng-messages="ediUtserForm.phone.$error"
                             ng-show="ediUtserForm.phone.$dirty&&ediUtserForm.phone.$invalid"
                             ng-messages-multiple>
                            <div ng-message="required">联系电话为必填项</div>
                            <div ng-message="pattern">
                                电话格式为11位手机号或者01012345678或010-12345678或者05381234567或0538-1234567
                            </div>
                        </div>
                        <div class="alert alert-danger"
                             ng-messages="ediUtserForm.email.$error"
                             ng-show="ediUtserForm.email.$dirty&&ediUtserForm.email.$invalid"
                             ng-messages-multiple>
                            <div ng-message="required">邮箱为必填项</div>
                            <div ng-message="pattern">邮箱格式为xxx@xx.xx</div>
                            <div ng-message="maxlength">邮箱长度不能超过50</div>
                        </div>
                    </div>
                </div>
                <div class="btn_Edit1 mb20">
                    <button type="button" class="btn_blue"
                            ng-click="resetEdit()">清空
                    </button>
                    <button type="button" class="btn_blue"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn_blue"
                            ng-click="editSave()">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>