<style type="text/css">
.ws-searchbutton {
    margin-top: 10px;
}

.activeBtn {
    background: #ff0;
}
</style>
<div ng-controller="apTerminalCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissible ws-gridTip" role="alert" ng-init="initTips()" ws-permcode="app.ac.apmanage.getApTips3;">
                        新增总数<span class="ws-gridTip-font" ng-click="addFilter('isNew')" ng-bind="tip.newAdd"></span>个， 当前在线
                        <span class="ws-gridTip-font" ng-click="addFilter('online')" ng-bind="tip.inLine"></span>个， 不在线
                        <span class="ws-gridTip-font" ng-click="addFilter('notOnline')" ng-bind="tip.outLine"></span>个， 总设备数
                        <span class="ws-gridTip-font" ng-click="addFilter('clear')" ng-bind="tip.apSum"></span>个
                    </div>
                </div>
            </div>
            <div class="row" ng-init="initPage()">
                <div class="col-md-12">
                    <ws-datagrid configuration="datagrid" inner-ctrl="innerCtrl">
                        <form>
                            <div style="margin-top: 10px">
                                <div class="collapse" id="apSearchInput">
                                    <div class="borderTopf0 noborderTop borderE2" id="search">
                                        <ul class="search">
                                            <li style="width:30%"><span>场所名称：</span>
                                                <input type="text" name="placeName" placeholder="场所名称" class="Input_search" ng-model="datagrid.params.placeName">
                                            </li>
                                            <li style="width:30%"><span>设备名称：</span>
                                                <input type="text" name="name" placeholder="设备名称" class="Input_search" ng-model="datagrid.params.name">
                                            </li>
                                            <li style="width:30%"><span>设备编号：</span>
                                                <input type="text" name="name" placeholder="设备编号" class="Input_search" ng-model="datagrid.params.code">
                                            </li>
                                            <li style="width:30%"><span>设备型号：</span>
                                                <input type="text" name="name" placeholder="设备型号" class="Input_search" ng-model="datagrid.params.modelName">
                                            </li>
                                            <li style="width:30%"><span>MAC：</span>
                                                <input type="text" name="name" placeholder="MAC" class="Input_search" ng-model="datagrid.params.mac">
                                            </li>
                                            <li style="width:30%"><span>状态：</span>
                                                <select name="status" id="status" class="select_search" ng-model="datagrid.params.status">
                                                    <option value="">全部</option>
                                                    <option value="0">不在线</option>
                                                    <option value="1">在线</option>
                                                </select>
                                            </li>
                                            <div class="clear"></div>
                                        </ul>
                                        <div class="btn_box mb20">
                                            <button class="btn_blue" type="button" ng-click="search()">查询</button>
                                            <button class="btn_blue" type="button" ng-click="onResetSearch()">清空</button>
                                        </div>
                                        <div class="mainTop"></div>
                                    </div>
                                </div>
                                <div class="row mlr10">
                                    <div class="mb10 mt20">
                                        <button class="btn_blue btn_mt" ng-click="onAdd()" ws-permcode="app.ac.apmanage.addTerminal">添&nbsp;加</button>
                                        <button class="btn_blue btn_mt" ng-click="onEdit()" ws-permcode="app.ac.apmanage.editTerminal">编&nbsp;辑</button>
                                        <button class="btn_blue btn_mt" ng-click="onDelete()" ws-permcode="app.ac.apmanage.removeTerminal">删&nbsp;除</button>
                                        <button class="btn_blue btn_mt" ng-click="onViewApConfig()" ws-permcode="app.ac.apmanage.getApCfgByApId2">查看配置</button>
                                        <button class="btn_blue btn_mt" ng-click="apStatus()" ws-permcode="app.ac.apmanage.getTerminalCfgStatus">设备状态</button>
                                        <button class="btn_blue btn_mt" ws-permcode="app.ac.apmanage.approveTerminal" ng-click="onApprove()">审核</button>
                                        <button class="btn_blue btn_mt" ng-class="{'btn_active':isApprovePress}" ng-click="search(1)" ws-permcode="app.ac.apmanage.approveTerminal">待审核</button>
                                        <button class="btn_blue btn_mt" ng-class="{'btn_active':isSubPress}" ng-click="search(0)" ws-permcode="app.ac.apmanage.addTerminal">未审核</button>
                                        <button class="btn_blue right btn_mt" data-toggle="collapse" data-target="#apSearchInput" aria-expanded="false" aria-controls="apSearchInput">显示/隐藏搜索
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ws-datagrid>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加模态窗口s -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header ws-modal-header">
                    <button type="button" class="close ws-mt3" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-circle"></span></button>
                    <h4 class="modal-title ml10" id="myModalLabel">{{modalTitle}}</h4>
                </div>
                <div class="modal-body ws-modal-body">
                    <section class="edit_main m10" id="edit_main1">
                        <form name="infoForm" novalidate>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_edit">
                                <tr>
                                    <th>
                                        <nobr>*</nobr>设备名称</th>
                                    <td>
                                        <input type="text" name="name" placeholder="设备名称" class="Input_edit" ng-model="info.name" required ng-maxlength=20>
                                    </td>
                                    <th>
                                        <nobr>*</nobr>场所</th>
                                    <td>
                                        <select name="placeId" id="placeId" class="select_edit" ng-model="info.placeId" ng-options="item.id as item.text for item in placeItems" required>
                                            <option value="">-请选择-</option>
                                        </select>
                                    </td>
                                    <th>
                                        <nobr>*</nobr>设备型号</th>
                                    <td>
                                        <select name="modelId" id="modelId" class="select_edit" ng-model="info.modelId" ng-options="item.id as item.text for item in apModelItems" required>
                                            <option value="">-请选择-</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <nobr>*</nobr>MAC地址</th>
                                    <td>
                                        <input name="mac" type="text" class="Input_edit" placeholder="MAC地址" ng-model="info.mac" required ng-pattern="/^[0-9A-F][0-9A-F]-[0-9A-F][0-9A-F]-[0-9A-F][0-9A-F]-[0-9A-F][0-9A-F]-[0-9A-F][0-9A-F]-[0-9A-F][0-9A-F]$/" ng-disabled="!isSave" ng-change="getCode()">
                                    </td>
                                    <th>
                                        <nobr>*</nobr>安全厂商</th>
                                    <td>
                                        <select name="secOrga" id="secOrga" class="select_edit" ng-model="info.securityOrganizationId" ng-options="item.code as item.name for item in organizations" required ng-change="getCode()">
                                            <option value="">-请选择-</option>
                                        </select>
                                    </td>
                                    <th>
                                        <nobr>*</nobr>设备编号</th>
                                    <td>
                                        <input type="text" name="code" placeholder="设备编号" class="Input_edit" ng-model="info.code" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <nobr>*</nobr>管控中心</th>
                                    <td>
                                        <select name="acClusterId" id="acClusterId" class="select_edit" ng-model="info.acClusterId" ng-options="item.id as item.name for item in acClustersItems" required>
                                            <option value="">-请选择-</option>
                                        </select>
                                    </td>
                                    <th>
                                        <nobr>*</nobr>有效期</th>
                                    <td ng-init="initValidity()">
                                        <input id="validity" name="validity" type="text" class="Input_edit" ng-model="info.validity" required>
                                    </td>
                                    <th>
                                        <nobr>*</nobr>设备类型</th>
                                    <td>
                                        <select name="type" id="type" class="select_edit" ng-model="info.type" required>
                                            <option value="">-请选择-</option>
                                            <option value="1">固定采集设备</option>
                                            <option value="2">移动车载采集设备</option>
                                            <option value="3">单兵采集设备</option>
                                            <option value="9">其他</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th> 车牌号码</th>
                                    <td>
                                        <input name="plateNumber" type="text" class="Input_edit" placeholder="车牌号码" ng-model="info.plateNumber" ng-maxlength=64>
                                    </td>
                                    <th> 地铁线路信息</th>
                                    <td>
                                        <input name="subwayLine" type="text" class="Input_edit" placeholder="地铁线路信息" ng-model="info.subwayLine" ng-maxlength=256>
                                    </td>
                                    <th> 地铁车辆信息</th>
                                    <td>
                                        <input name="subwayVehicle" type="text" class="Input_edit" placeholder="地铁车辆信息" ng-model="info.subwayVehicle" ng-maxlength=256>
                                    </td>
                                </tr>
                                <tr>
                                    <th> 地铁车厢信息</th>
                                    <td>
                                        <input name="subwayCarriage" type="text" class="Input_edit" placeholder="地铁车厢信息" ng-model="info.subwayCarriage" ng-maxlength=256>
                                    </td>
                                    <th>
                                        <nobr>*</nobr>放置位置</th>
                                    <td>
                                        <input name="position" type="text" class="Input_edit" placeholder="放置位置" ng-model="info.position" required ng-maxlength=200>
                                    </td>
                                    <th>
                                        <nobr>*</nobr>数据中心</th>
                                    <td>
                                        <select name="dataCenterId" id="dataCenterId" class="select_edit" ng-model="info.dataCenterId" ng-options="item.id as item.dataCenterName for item in dataCenterItems" required>
                                            <option value="">-请选择-</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <nobr>*</nobr>设备经度</th>
                                    <td>
                                        <input name="longitude" type="text" class="Input_edit" placeholder="设备经度" ng-model="info.longitude" required ng-maxlength=10 ng-pattern="/^(-|\+)?(180\.0{5}|(\d{1,2}|1([0-7]\d))\.\d{5})$/">
                                    </td>
                                    <th>
                                        <nobr>*</nobr>设备纬度</th>
                                    <td>
                                        <input name="latitude" type="text" class="Input_edit" placeholder="设备纬度" ng-model="info.latitude" required ng-maxlength=10 ng-pattern="/^(-|\+)?(90\.0{4,6}|(\d|[1-8]\d)\.\d{5})$/">
                                    </td>
                                    <th>
                                        <nobr>*</nobr>数据上传采集间隔(s)</th>
                                    <td>
                                        <input name="uploadTimeInterval" type="text" class="Input_edit" placeholder="数据上传采集间隔" ng-model="info.uploadTimeInterval" ng-maxlength=8 ng-pattern="/^([1-9]\d{0,1}|[1-2]\d\d|300)$/" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <nobr>*</nobr>采集半径(m)</th>
                                    <td>
                                        <input name="collectionRadius" type="text" class="Input_edit" placeholder="采集半径" ng-model="info.collectionRadius" ng-maxlength=4 ng-pattern="/^[1-9]\d*$/" required>
                                    </td>
                                    <th>
                                        <nobr>*</nobr>基础信息上报间隔时间（h）</th>
                                    <td>
                                        <input name="baseInfoUploadInterval" type="text" class="Input_edit" placeholder="数据上传采集间隔" ng-model="info.baseInfoUploadInterval" ng-maxlength=8 ng-pattern="/^([1-9]|1\d{1}|20|2[1-4])$/" required>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div class="errMsg">
                            <div class="alert alert-danger" ng-messages="infoForm.name.$error" ng-show="infoForm.name.$dirty&&infoForm.name.$invalid" ng-messages-multiple>
                                <div ng-message="required">设备名称为必填项</div>
                                <div ng-message="maxlength">设备名称最大不可以超过20个字符</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.placeId.$error" ng-show="infoForm.placeId.$dirty&&infoForm.placeId.$invalid" ng-messages-multiple>
                                <div ng-message="required">场所为必填项</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.dataCenterId.$error" ng-show="infoForm.dataCenterId.$dirty&&infoForm.dataCenterId.$invalid" ng-messages-multiple>
                                <div ng-message="required">数据中心为必填项</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.modelId.$error" ng-show="infoForm.modelId.$dirty&&infoForm.modelId.$invalid" ng-messages-multiple>
                                <div ng-message="required">型号为必填项</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.mac.$error" ng-show="infoForm.mac.$dirty&&infoForm.mac.$invalid" ng-messages-multiple>
                                <div ng-message="required">mac地址为必填项</div>
                                <div ng-message="pattern">mac地址格式不正确，请注意字母大小写。例如：26-D5-3D-83-75-3F</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.secOrga.$error" ng-show="infoForm.secOrga.$dirty&&infoForm.secOrga.$invalid" ng-messages-multiple>
                                <div ng-message="required">安全厂商为必填项</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.acClusterId.$error" ng-show="infoForm.acClusterId.$dirty&&infoForm.acClusterId.$invalid" ng-messages-multiple>
                                <div ng-message="required">管控中心为必填项</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.validity.$error" ng-show="infoForm.validity.$dirty&&infoForm.validity.$invalid" ng-messages-multiple>
                                <div ng-message="required">设备有效期为必填项</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.type.$error" ng-show="infoForm.type.$dirty&&infoForm.type.$invalid" ng-messages-multiple>
                                <div ng-message="required">设备类型为必填项</div>
                            </div> 
                            <div class="alert alert-danger" ng-messages="infoForm.plateNumber.$error" ng-show="infoForm.plateNumber.$dirty&&infoForm.plateNumber.$invalid" ng-messages-multiple>
                                <div ng-message="maxlength">车牌号码不可以超过64个字符</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.subwayLine.$error" ng-show="infoForm.subwayLine.$dirty&&infoForm.subwayLine.$invalid" ng-messages-multiple>
                                <div ng-message="maxlength">地铁线路信息不可以超过256个字符</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.subwayVehicle.$error" ng-show="infoForm.subwayVehicle.$dirty&&infoForm.subwayVehicle.$invalid" ng-messages-multiple>
                                <div ng-message="maxlength">地铁车辆信息不可以超过256个字符</div>
                            </div> 
                            <div class="alert alert-danger" ng-messages="infoForm.subwayCarriage.$error" ng-show="infoForm.subwayCarriage.$dirty&&infoForm.subwayCarriage.$invalid" ng-messages-multiple>
                                <div ng-message="maxlength">地铁车厢信息不可以超过256个字符</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.position.$error" ng-show="infoForm.position.$dirty&&infoForm.position.$invalid" ng-messages-multiple>
                                <div ng-message="required">放置位置为必填项</div>
                                <div ng-message="maxlength">放置位置最大长度不可超过200个字符</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.longitude.$error" ng-show="infoForm.longitude.$dirty&&infoForm.longitude.$invalid" ng-messages-multiple>
                                <div ng-message="required">经度为必填项</div>
                                <div ng-message="pattern">设备经度格式为-180.00000~+180.00000</div>
                                <div ng-message="maxlength">设备经度最大不可以超过10个字符</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.latitude.$error" ng-show="infoForm.latitude.$dirty&&infoForm.latitude.$invalid" ng-messages-multiple>
                                <div ng-message="required">设备纬度为必填项</div>
                                <div ng-message="pattern">设备纬度格式为-90.00000~+90.00000</div>
                                <div ng-message="maxlength">设备纬度最大不可以超过10个字符</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.uploadTimeInterval.$error" ng-show="infoForm.uploadTimeInterval.$dirty&&infoForm.uploadTimeInterval.$invalid" ng-messages-multiple>
                                <div ng-message="required">数据上传采集间隔为必填项</div>
                                <div ng-message="pattern">数据上传采集间隔格式要求为正整数（1-300）之内</div>
                                <div ng-message="maxlength">数据上传采集间隔最大不可以超过8个字符</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.collectionRadius.$error" ng-show="infoForm.collectionRadius.$dirty&&infoForm.collectionRadius.$invalid" ng-messages-multiple>
                                <div ng-message="required">采集半径为必填项</div>
                                <div ng-message="pattern">采集半径格式要求为正整数</div>
                                <div ng-message="maxlength">数据上传采集间隔最大不可以超过4个字符</div>
                            </div>
                            <div class="alert alert-danger" ng-messages="infoForm.baseInfoUploadInterval.$error" ng-show="infoForm.baseInfoUploadInterval.$dirty&&infoForm.baseInfoUploadInterval.$invalid" ng-messages-multiple>
                                <div ng-message="required">基础信息上报间隔时间为必填项</div>
                                <div ng-message="pattern">基础信息上报间隔时间格式要求为正整数（1-24）小时之内</div>
                                <div ng-message="maxlength">基础信息上报间隔时间最大不可以超过8个字符</div>
                            </div>
                        </div>
                    </section>
                    <div class="btn_Edit1 mb20" style="margin-left: 30%">
                        <button class="btn_blue" data-dismiss="modal">关&nbsp;闭</button>
                        <button class="btn_blue" ng-click="reset()">清&nbsp;空</button>
                        <button class="btn_blue" ng-init="approvePer=true" ng-show="approvePer" ng-click="onSave(true)">暂&nbsp;存</button>
                        <button class="btn_blue" ng-click="onSave()">提&nbsp;交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加模态窗口e -->
    <!-- 详情模态窗口s -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header ws-modal-header">
                    <button type="button" class="close ws-mt3" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-circle"></span></button>
                    <h4 class="modal-title ml10" id="myModalLabel"><img class="ws-viewImg" src="resources/image/detail_img1.png">终端采集设备详情</h4>
                </div>
                <div class="modal-body ws-modal-body p10">
                    <table width="100%" border="0" cellspacing="2" cellpadding="0" class="table_detail">
                        <tr>
                            <th width="13.3%" align="left" title="设备名称">设备名称</th>
                            <td width="20%" align="left">
                                <input type="text" name="name" placeholder="设备名称" ng-model="view.name" readonly>
                            </td>
                            <th width="13.3%" align="left" title="场所">场所</th>
                            <td width="20%" align="left">
                                <select name="placeId" id="placeId" ng-model="view.placeId" ng-options="item.id as item.text for item in placeItems" disabled style="background: #fff;width: 100%">
                                    <option value="">-请选择-</option>
                                </select>
                            </td>
                            <th width="13.3%" align="left" title="设备型号">设备型号</th>
                            <td width="20%" align="left">
                                <select name="modelId" id="modelId" ng-model="view.modelId" ng-options="item.id as item.text for item in apModelItems" disabled style="background: #fff;width: 100%">
                                    <option value="">-请选择-</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th width="13.3%" align="left" title="MAC地址">MAC地址</th>
                            <td width="20%" align="left">
                                <input name="mac" type="text" placeholder="MAC地址" ng-model="view.mac" readonly>
                            </td>
                            <th width="13.3%" align="left" title="安全厂商">安全厂商</th>
                            <td width="20%" align="left">
                                <select name="secOrga" id="secOrga" ng-model="view.securityOrganizationId" ng-options="item.code as item.name for item in organizations" disabled style="background: #fff;width: 100%">
                                    <option value="">-请选择-</option>
                                </select>
                            </td>
                            <th width="13.3%" align="left" title="设备编号">设备编号</th>
                            <td width="20%" align="left">
                                <input type="text" name="code" placeholder="设备编号" ng-model="view.code" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th width="13.3%" align="left" title="ac">管控中心</th>
                            <td width="20%" align="left">
                                <select name="acClusterId" id="acClusterId" ng-model="view.acClusterId" ng-options="item.id as item.name for item in acClustersItems" disabled style="background: #fff;width: 100%">
                                    <option value="">-请选择-</option>
                                </select>
                            </td>
                            <th width="13.3%" align="left" title="有效期">有效期</th>
                            <td width="20%" align="left">
                                <input name="validity" id="validity" ng-model="view.validity" readonly />
                            </td>
                            <th width="13.3%" align="left" title="采集设备类型">设备类型</th>
                            <td width="20%" align="left">
                                <select name="type" id="type" ng-model="view.type" disabled style="background: #fff;width: 100%">
                                    <option value="">-请选择-</option>
                                    <option value="1">固定采集设备</option>
                                    <option value="2">移动车载采集设备</option>
                                    <option value="3">单兵采集设备</option>
                                    <option value="9">其他</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th width="13.3%" align="left" title="车牌号码">车牌号码</th>
                            <td width="20%" align="left">
                                <input name="plateNumber" type="text" placeholder="车牌号码" ng-model="view.plateNumber" readonly>
                            </td>
                            <th width="13.3%" align="left" title="地铁线路信息">地铁线路信息</th>
                            <td width="20%" align="left">
                                <input name="subwayLine" type="text" placeholder="地铁线路信息" ng-model="view.subwayLine" readonly>
                            </td>
                            <th width="13.3%" align="left" title="地铁车辆信息">地铁车辆信息</th>
                            <td width="20%" align="left">
                                <input name="subwayVehicle" type="text" placeholder="地铁车辆信息" ng-model="view.subwayVehicle" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th width="13.3%" align="left" title="地铁车厢编号">地铁车厢编号</th>
                            <td width="20%" align="left">
                                <input name="subwayCarriage" type="text" placeholder="地铁车厢信息" ng-model="view.subwayCarriage" readonly>
                            </td>
                            <th width="13.3%" align="left" title="放置位置">放置位置</th>
                            <td width="20%" align="left">
                                <input name="position" type="text" placeholder="放置位置" ng-model="view.position" readonly>
                            </td>
                            <th width="13.3%" align="left" title="数据中心">数据中心</th>
                            <td width="20%" align="left">
                                <select name="dataCenterId" id="dataCenterId" class="select_edit" ng-model="view.dataCenterId" ng-options="item.id as item.dataCenterName for item in dataCenterItems" disabled>
                                    <option value="">-请选择-</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th width="13.3%" align="left" title="设备经度">设备经度</th>
                            <td width="20%" align="left">
                                <input name="longitude" type="text" placeholder="设备经度" ng-model="view.longitude" readonly>
                            </td>
                            <th width="13.3%" align="left" title="设备纬度">设备纬度</th>
                            <td width="20%" align="left">
                                <input name="latitude" type="text" placeholder="设备纬度" ng-model="view.latitude" readonly>
                            </td>
                            <th width="13.3%" align="left" title="设备经度(baidu)">设备经度(baidu)</th>
                            <td width="20%" align="left">
                                <input name="bdLng" type="text" placeholder="设备经度(baidu)" ng-model="view.bdLng" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th width="13.3%" align="left" title="设备纬度(baidu)">设备纬度(baidu)</th>
                            <td width="20%" align="left">
                                <input name="bdLat" type="text" placeholder="设备纬度(baidu)" ng-model="view.bdLat" readonly>
                            </td>
                            <th width="13.3%" align="left" title="状态">状态</th>
                            <td width="20%" align="left">
                                <select name="status" ng-model="view.status" disabled style="background: #fff;width: 100%">
                                    <option value="0">不在线</option>
                                    <option value="1">在线</option>
                                </select>
                            </td>
                            <th width="13.3%" align="left" title="数据上传采集间隔">数据上传采集间隔(s)</th>
                            <td width="20%" align="left">
                                <input name="uploadTimeInterval" type="text" placeholder="数据上传采集间隔" ng-model="view.uploadTimeInterval" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th width="13.3%" align="left" title="采集半径">采集半径(m)</th>
                            <td width="20%" align="left">
                                <input name="collectionRadius" type="text" placeholder="采集半径" ng-model="view.collectionRadius" readonly>
                            </td>
                            <th width="13.3%" align="left">基础信息上报间隔时间（h）</th>
                            <td width="20%" align="left">
                                <input ng-model="view.baseInfoUploadInterval" readonly>
                            </td>
                            <th width="13.3%" align="left" title="创建日期">创建日期</th>
                            <td width="20%" align="left">
                                <input name="createTime" type="text" placeholder="创建日期" ng-model="view.createTime" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th width="13.3%" align="left" title="修改日期">修改日期</th>
                            <td width="20%" align="left">
                                <input name="modifyTime" type="text" placeholder="修改日期" ng-model="view.modifyTime" readonly>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- 详情模态窗口e -->
    <!-- 添加配置窗口s -->
    <div class="modal fade" id="addConfigModal" tabindex="-1" role="dialog" aria-labelledby="myModal" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header ws-modal-header">
                    <button type="button" class="close ws-mt3" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-circle"></span></button>
                    <h4 class="modal-title ml10" id="myModal">查看终端采集配置信息</h4>
                </div>
                <div class="modal-body ws-modal-body">
                    <form name="configForm" novalidate>
                        <section class="edit_main m10">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_edit">
                                <tr>
                                    <th>
                                        <nobr>*</nobr>任务名称：</th>
                                    <td>
                                        <input type="text" name="scheduleName" class="Input_edit" placeholder="配置任务名称" ng-model="config.scheduleName" readonly>
                                    </td>
                                    <th>信道：</th>
                                    <td>
                                        <select name="channel" class="select_edit" ng-model="config.channel" readonly>
                                            <option value="0">auto</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                        </select>
                                    </td>
                                    <th>最大连接数：</th>
                                    <td>
                                        <input type="text" name="maxassoc" class="Input_edit" placeholder="最大终端连接数" ng-model="config.maxassoc" readonly>
                                    </td>
                                </tr>
                            </table>
                        </section>
                        <section class="edit_main m10">
                            <div class="config_title mt10">主ssid配置</div>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_edit table_config">
                                <tr class="ml10">
                                    <th>
                                        <nobr>*</nobr>SSID：</th>
                                    <td>
                                        <input type="text" name="ssid" class="Input_edit" placeholder="SSID" ng-model="config.ssid" readonly>
                                    </td>
                                    <th>管理地址：</th>
                                    <td>
                                        <input type="text" name="brip" class="Input_edit" placeholder="管理地址" ng-model="config.brip" readonly>
                                    </td>
                                    <th>加密方式：</th>
                                    <td>
                                        <select name="encryption" class="Input_edit" ng-model="config.encryption" readonly>
                                            <option value="none">none</option>
                                            <option value="psk">WPA-PSK</option>
                                            <option value="psk2">WPA2-PSK</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th> 密码：</th>
                                    <td>
                                        <input type="text" name="passwd" class="Input_edit " placeholder="密码长度在8-20位" ng-model="config.passwd" readonly>
                                    </td>
                                </tr>
                            </table>
                        </section>
                    </form>
                    <!-- <form name="titleForm" novalidate>
                        <section class="edit_main m10">
                            <div class="row" style="padding-top: 10px;margin-top: 10px;border-top: 1px solid #E5E5E5;">
                                <div class="col-md-2">
                                    <div class="checkbox pull-right" style="margin-top: 5px">
                                        <label>
                                            <input type="checkbox" ng-model="config.isrestart" disabled>重启
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="checkbox pull-right" style="margin-top: 5px">
                                        <label>
                                            <input type="checkbox" ng-model="config.ssid_status" disabled>隐藏SSID
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form> -->
                    <div class="btn_Edit1 mb20 mt0">
                        <button type="button" class="btn_blue" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加配置窗口e -->
    <!-- 设备状态信息 -->
    <div class="modal fade" id="apStatus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header ws-modal-header">
                    <button type="button" class="close ws-mt3" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-circle"></span></button>
                    <button type="button" class="close glyphicon glyphicon-refresh" ng-click="restartapstatus()" style="float:right;margin-right: 2px;margin-top: 3px;"></button>
                    <h4 class="modal-title ml10" id="myModalLabel"><img class="ws-viewImg" src="resources/image/detail_img1.png">状态详情</h4>
                </div>
                <div style="width: 800px; height: 600px; margin: 0 auto">
                    <div id="cpu" style="min-width:400px;height:300px;float:left"></div>
                    <div id="memory" style="min-width:400px;height:300px;float:left"></div>
                </div>
                <div style="width: 600px; height: 400px; margin: 0 auto">
                    <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>
                    <div id="container-rpm" style="width: 300px; height: 200px; float: left"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 设备状态信息end -->
    <!-- 审核弹出框s -->
    <div class="modal fade" id="approveModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 10px;">
                <div class="detail_top">
                    <div class="detail_top_l pl10">审核</div>
                    <div class="detail_top_r">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <form name="approveForm" novalidate>
                        <table width="90%" border="0" cellspacing="0" cellpadding="0" class="table_edit" style="margin-left: 50px;">
                            <tr>
                                <td>
                                    <input type="radio" ng-model="appro.status" name="status" id="approPass" style="margin:0 5px 0 0;" value="2">
                                    <label for="approPass">通过</label>
                                    <input id="approDeny" type="radio" ng-model="appro.status" name="status" style="margin: 0px 5px 0px 30px;" value="3">
                                    <label for="approDeny">拒绝</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <nobr>*</nobr>备注：</p>
                                    <textarea ng-model="appro.descr" ng-maxlength=255 class="Input_edit" name="desc" rows="3" style="height:auto;" required></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <div class="errMsg">
                        <div class="alert alert-danger" ng-messages="approveForm.desc.$error" ng-show="approveForm.desc.$dirty&&approveForm.desc.$invalid" ng-message-multiple>
                            <div ng-message="required">审核备注为必填项</div>
                            <div ng-message="maxlength">审核备注最多255个字符</div>
                        </div>
                    </div>
                </div>
                <div class="btn_Edit1 mb20">
                    <center>
                        <button class="btn_blue" ng-click="saveApprove()">提&nbsp;交</button>
                        <button class="btn_blue" data-dismiss="modal">关&nbsp;闭</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!-- 审核弹出框e -->
</div>
