.time-line {
    margin-top: 20px;
}

.time-line ul {
    padding-left: 0;
}

.time-line .time-line-item {
    list-style: none;
    position: relative;
    padding: 5px;
}

.time-line .time-line-item li {
    list-style: none;
}

.time-line .time-line-item .time-line-title {
    display: inline-block;
    text-align: left;
    min-width: 180px;
}

.time-line .time-line-item .time-line-title .time-line-time {
    text-decoration-line: underline;
    font-size: 0.6em;
    color: #8D8D8F;
}

.time-line .time-line-item .time-line-title .time-line-item-text {
    font-size: 1.8em;
    color: #0089de;
}

.time-line .time-line-item .time-line-content {
    display: inline-block;
    /*position: relative;*/
    /*left: 10px;*/
    vertical-align: top;
    background-color: #9ede97;
    border: 1px solid #9ede97;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    margin-left: 8px;
    min-width: 450px;
    min-height: 60px;
}

.ws-label {
    display: inline-block;
    background-color: #5cb85c;
    position: relative;
    padding: .28em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-right: 0.3em;
    margin-bottom: 5px;
}

.ws-label-remove {
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    color: #ff543e;
    display: none;
}
.ws-label:hover .ws-label-remove{
    display: block;
}
