/*
*　数据表相关样式，包含查询表单
*/

.ws-search-btn-group {
    text-align: right;
}

.ws-search-btn-group > .btn {
    margin-bottom: 10px;
}

.ws-search-btn-group.ws-inline {
    display: inline-block;
}

.ws-search-input-group > .form-group {
    margin-right: 20px;
    margin-bottom: 10px;
}

.ws-search-input-group > .form-group label:after {
    content: ' :';
    margin-right: 10px;
}

.ws-datagrid td .btn-link {
    color: #333333;
}

.ws-datagrid td .btn-sm {
    padding: 0 6px;
}

.ws-datagrid td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ws-datagrid th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ws-split {
    display: inline-block;
    border-left: 1px solid gray;
    height: 28px;
    margin-bottom: -10px;
}

.ws-split2 {
    display: inline-block;
    border-left: 1px solid #cecece;
    height: 28px;
    margin-bottom: -5px;
}

.ws-search-check-group {
    min-width: 100px;
    height: 100%;
    border-left: 1px solid #bfbdbc;
    padding: 8px 4px 8px 8px;
    display: inline-block;
    vertical-align: top;
}

.ws-search-check-group:first-child {
    border-left: none;
}

.ws-search-check-group-title {
    text-align: center;
    font-family: "Microsoft Yahei", Tahoma, Geneva, sans-serif;
    font-size: 0.2em;
    border-bottom: dotted 1px grey;
    padding-bottom: 3px;
}

.ws-search-group {
    background-color: #e8e8e8;
    width: 100%;
}

.ws-search-group td {
    vertical-align: top;
    border: 1px solid black;
    padding: 0 10px;
}

.ws-search-group th {
    text-align: center;
    border: 1px solid black;
    padding: 4px;
}
.ws-search-area-split {
    border-bottom: 1px solid #e3e3e3;
    height: 15px;
}
