<div ng-controller="actAwardsCtrl">
    <ws-datagrid configuration="datagrid" inner-ctrl="innerCtrl">
        <div class="form-inline" id="showOrHide">
            <div class="ws-search-input-group">
                <div class="form-group">
                    <label for="name">名称</label>
                    <input class="form-control input-sm" type="text" placeholder="名称" id="name"
                           ng-model="searchParams.name">
                </div>
                <div class="ws-search-btn-group ws-inline">
                    <button class="btn btn-info btn-sm" type="submit" ng-click="search()">查询</button>
                    <button class="btn btn-info btn-sm" type="button" ng-click="searchRest()">清空</button>
                    <span class="ws-split2"></span>
                    <button class="btn btn-info btn-sm" type="button" ng-click="showAdd()"
                            ws-permcode="system.permission.group.add">添加
                    </button>
                    <button class="btn btn-info btn-sm" type="button" ng-click="showEdit()"
                            ws-permcode="system.permission.group.edit">编辑
                    </button>
                    <button class="btn btn-danger btn-sm" type="button" ng-click="del()"
                            ws-permcode="system.permission.group.del">删除
                    </button>
                    <span class="ws-split2"></span>
                    <button class="btn btn-info btn-sm" type="button" ng-click="showLevel()"
                            ws-permcode="system.permission.group.add">配置等级
                    </button>
                    <button class="btn btn-info btn-sm" type="button" ng-click="showCriterion()"
                            ws-permcode="system.permission.group.add">配置标准
                    </button>
                </div>
            </div>
        </div>
    </ws-datagrid>
    <div class="modal fade" id="addModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">添加奖项</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="addAward" name="addForm" novalidate>
                        <div class="form-group"
                             ng-class="{'has-error has-feedback' : addForm.name.$dirty && addForm.name.$invalid}">
                            <label class="col-sm-2 control-label" for="add-name">名称</label>
                            <div class="col-sm-7">
                                <input id="add-name" name="name" type="text" class="form-control input-sm"
                                       ng-model="award.name"
                                       placeholder="必填，不可重复" ws-unique="app/activity/config/award/exist?name"
                                       required
                                       maxlength="64"><span class="glyphicon glyphicon-remove form-control-feedback"
                                                            aria-hidden="true"
                                                            ng-show="addForm.name.$dirty && addForm.name.$invalid"></span>
                            </div>
                            <div class="col-md-3">
                                <img ng-show="addForm.name.uniqueAajax" alt="" style="width: 16px; height: 16px;"
                                     src="resources/image/wait.gif">
                                <p ng-show="addForm.name.$dirty && addForm.name.$invalid" class="form-control-static"
                                   style="font-size: small; color: #A94442">
                                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
                                    <span ng-show="addForm.name.$error.required">不能为空</span>
                                    <span ng-show="addForm.name.$error.unique">名称重复</span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="add-description">描述</label>
                            <div class="col-sm-7">
                                <input id="add-description" name="description" type="text"
                                       class="form-control  input-sm"
                                       ng-model="award.description" placeholder="简要说明" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error has-feedback' : addForm.type.$dirty && addForm.type.$invalid}">
                            <label class="col-sm-2 control-label" for="add-type">类型</label>
                            <div class="col-sm-7">
                                <select id="add-type" class="form-control input-sm" ng-model="award.typeId" name="type" required="required">
                                    <option value="">---请选择---</option>
                                    <option ng-repeat="type in types" value="{{type.id}}" ng-bind="type.name"></option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <p ng-show="addForm.type.$dirty && addForm.type.$invalid" class="form-control-static"
                                   style="font-size: small; color: #A94442">
                                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
                                    <span ng-show="addForm.type.$error.required">不能为空</span>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-sm" ng-click="reset()">清空</button>
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" ng-click="reset()">关闭
                    </button>
                    <button type="button" class="btn btn-info btn-sm" ng-click="add()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">编辑奖项</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="editAward" name="editForm" novalidate>
                        <div class="form-group"
                             ng-class="{'has-error has-feedback' : editForm.name.$dirty && editForm.name.$invalid}">
                            <label class="col-sm-2 control-label" for="add-name">名称</label>
                            <div class="col-sm-7">
                                <input id="edit-name" name="name" type="text" class="form-control input-sm"
                                       ng-model="award.name" placeholder="必填，不可重复"
                                       ws-unique="app/activity/config/award/exist?name" required maxlength="64">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                                      ng-show="editForm.name.$dirty && editForm.name.$invalid"></span>
                            </div>
                            <div class="col-md-3">
                                <p ng-show="editForm.name.$dirty && editForm.name.$invalid" class="form-control-static"
                                   style="font-size: small; color: #A94442">
                                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
                                    <span ng-show="editForm.name.$error.required">不能为空</span>
                                    <span ng-show="editForm.name.$error.unique">名称重复</span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="edit-description">描述</label>
                            <div class="col-sm-7">
                                <input id="edit-description" name="description" type="text"
                                       class="form-control input-sm"
                                       ng-model="award.description" placeholder="简要说明" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error has-feedback' : editForm.type.$dirty && editForm.type.$invalid}">
                            <label class="col-sm-2 control-label" for="edit-type">类型</label>
                            <div class="col-sm-7">
                                <select id="edit-type" class="form-control input-sm" ng-model="award.typeId" required="required" name="type">
                                    <option value="">---请选择---</option>
                                    <option ng-repeat="type in types" value="{{type.id}}" ng-bind="type.name"></option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <p ng-show="editForm.type.$dirty && editForm.type.$invalid" class="form-control-static"
                                   style="font-size: small; color: #A94442">
                                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
                                    <span ng-show="editForm.type.$error.required">不能为空</span>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-sm" ng-click="reset()">清空</button>
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" ng-click="reset()">关闭
                    </button>
                    <button type="button" class="btn btn-info btn-sm" ng-click="edit()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="levelModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">配置奖项等级</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="editLevel" name="editLevelForm" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="first-level">一等奖</label>
                            <div class="col-sm-9">
                                <textarea id="first-level" name="name" class="form-control" maxlength="1024" ng-model="award.first" style="height: 110px; resize: none;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="second-level">二等奖</label>
                            <div class="col-sm-9">
                                <textarea id="second-level" name="name" class="form-control" maxlength="1024" ng-model="award.second" style="height: 110px; resize: none;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="third-level">三等奖</label>
                            <div class="col-sm-9">
                                <textarea id="third-level" name="name" class="form-control" maxlength="1024" ng-model="award.third" style="height: 110px; resize: none;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="deny-level">不授</label>
                            <div class="col-sm-9">
                                <textarea id="deny-level" name="name" class="form-control" maxlength="1024" ng-model="award.deny" style="height: 110px; resize: none;"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-info btn-sm" ng-click="updateLevel()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="levelDetailModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">配置奖项等级</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="detailLevel" name="detailLevelForm" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2" for="first-level-detail" style="text-align: right">一等奖</label>
                            <div class="col-sm-9">
                                <span id="first-level-detail" ng-bind="award.first"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="second-level-detail" style="text-align: right">二等奖</label>
                            <div class="col-sm-9">
                                <span id="second-level-detail" ng-bind="award.second"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="third-level-detail" style="text-align: right">三等奖</label>
                            <div class="col-sm-9">
                                <span id="third-level-detail" ng-bind="award.third"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="deny-level-detail" style="text-align: right">不授</label>
                            <div class="col-sm-9">
                                <span id="deny-level-detail" ng-bind="award.deny"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="criterionModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">配置奖项标准</h4>
                </div>
                <div class="modal-body">
                    <div style="padding-left:  10px; padding-right: 10px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 30%">名称</th>
                                    <th style="width: 54%">打分标准</th>
                                    <th style="width: 8%">权重</th>
                                    <th style="width: 8%">操作</td>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="criterion in awardCriteria">
                                <td style="vertical-align: middle;">
                                    <span ng-show="!(editCriterionId === criterion.id)" ng-bind="criterion.name"></span>
                                    <label for="name_{{criterion.id}}" class="sr-only"></label>
                                    <input ng-show="editCriterionId === criterion.id"  ng-model="eCriterion.name" type="text" class="form-control input-sm" id="name_{{criterion.id}}"/>
                                </td>
                                <td style="vertical-align: middle;">
                                    <span ng-show="!(editCriterionId === criterion.id)" ng-bind="criterion.criterion"></span>
                                    <label for="criterion_{{criterion.id}}" class="sr-only"></label>
                                    <textarea ng-show="editCriterionId === criterion.id" ng-model="eCriterion.criterion" id="criterion_{{criterion.id}}" class="form-control" style="height: 100px; resize: none;"></textarea>
                                </td>
                                <td style="vertical-align: middle;">
                                    <span ng-show="!(editCriterionId === criterion.id)" ng-bind="criterion.percent"></span>
                                    <label for="percent_{{criterion.id}}" class="sr-only"></label>
                                    <input ng-show="editCriterionId === criterion.id" type="text" ng-model="eCriterion.percent" class="form-control input-sm" id="percent_{{criterion.id}}"/>
                                </td>
                                <td style="vertical-align: middle;">
                                    <div ng-show="!(editCriterionId === criterion.id)">
                                        <button type="button" class="btn btn-link btn-sm" title="删除" style="padding: 0 3px">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        <button ng-click="showEditCriterion(criterion)" type="button" class="btn btn-link btn-sm" title="编辑" style="padding: 0 3px">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </div>
                                    <div ng-show="editCriterionId === criterion.id">
                                        <button ng-click="editCriterion()" type="button" class="btn btn-link btn-sm" title="保存" style="padding: 0 3px">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button ng-click="cancelEditCriterion()" type="button" class="btn btn-link btn-sm" title="取消" style="padding: 0 3px">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr ng-show="isAddCriterion"><td colspan="4"></td></tr>
                            <tr style="background-color: #f2f2f2;" ng-show="isAddCriterion">
                                <td style="vertical-align: middle;">
                                    <label for="name_new" class="sr-only"></label>
                                    <input type="text" class="form-control input-sm" ng-model="criterion.name" id="name_new"/>
                                </td>
                                <td style="vertical-align: middle;">
                                    <label for="criterion_new" class="sr-only"></label>
                                    <textarea id="criterion_new" class="form-control" ng-model="criterion.criterion" style="height: 100px; resize: none;"></textarea>
                                </td>
                                <td style="vertical-align: middle;">
                                    <label for="percent_new" class="sr-only"></label>
                                    <input type="text" class="form-control input-sm" id="percent_new" ng-model="criterion.percent"/>
                                </td>
                                <td style="vertical-align: middle;">
                                    <div>
                                        <button type="button" class="btn btn-link btn-sm" title="保存" ng-click="addCriterion()" style="padding: 0 3px">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button type="button" class="btn btn-link btn-sm" title="取消" ng-click="cancelAddCriterion()" style="padding: 0 3px">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <button type="button" class="btn btn-link btn-sm" title="添加" ng-click="showAddCriterion()" style="padding: 0 3px">
                                        <span style="padding-right: 5px;">添加</span><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
