<div ng-controller="actCreateCtrl" style="padding: 20px 10px;">

    <div ng-if="curAct.id" class="alert alert-warning">
        由&nbsp;<span style="font-weight: bold;">{{curAct.createUserName}}</span>&nbsp;创建于
        &nbsp;<span style="text-decoration-line: underline">{{curAct.createTime}}</span>&nbsp;
        的《{{curAct.name}}》正在进行，无需创建新活动。
    </div>

    <div ng-if="curAct === undefined" class="alert alert-info">
        正在查询活动状态...
    </div>

    <form class="form-horizontal" id="createActivity" name="createForm" novalidate ng-if="!curAct.id" style="width: 500px;">
        <div class="form-group form-group-sm">
            <label for="name" class="col-xs-2 control-label" style="padding-top: 4px;">名称</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" id="name" placeholder="名称" ng-model="activity.name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="copyHistory"> 复制以往活动的配置
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm" ng-show="copyHistory">
            <label for="history" class="col-xs-2 control-label" style="padding-top: 4px;">以往活动</label>
            <div class="col-xs-10">
                <select id="history" class="form-control">
                    <option ng-repeat="act in acts" value="{{act.id}}" ng-bind="act.name"></option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-info btn-sm" ng-click="create()">创建活动</button>
            </div>
        </div>
    </form>
</div>