<div class="panel panel-default"
	ng-controller="anaTerminalUserVisitCtrl">
	<div class="panel-body" ng-init="initGrid()">
		<ws-datagrid configuration="datagrid" inner-ctrl="innerCtrl">
		<form>
			<div id="uservisitSearch" class="collapse">
				<div class="row" >
					<div class="col-sm-3" style="margin-left: 20px;">
						<div class="form-group">
							<label class="col-sm-4 control-label elabel" for="placeCode">场所编码</label>
							<div class="col-sm-8 ebody" ng-init="initselect2()">
								<select id="placeCode" class="js-data-example-ajax form-control input-sm " ng-model="datagrid.params.placeCode" >
                                    <option value="" selected="selected">请选择</option>
                                </select>
								<!-- <input id="placeCode" type="text" class="form-control input-sm"	ng-model="datagrid.params.placeCode" /> -->
							</div>
						</div>
					</div>
					<div ng-init="initDate()">
						<div class="col-sm-3">
							<div class="form-group">
								<label class="col-sm-4 control-label elabel"
									for="userVistStartTime">开始时间</label>
								<div class="col-sm-8 ebody">
									<input id="userVistStartTime" type="text"
										class="form-control input-sm"
										ng-model="datagrid.params.startTime" />
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="col-sm-4 control-label elabel"
									for="userVistEndTime">结束时间</label>
								<div class="col-sm-8 ebody">
									<input id="userVistEndTime" type="text"
										class="form-control input-sm"
										ng-model="datagrid.params.endTime" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="btn_box mb20" style="margin-top: 20px;">
					<button class="btn_blue" ng-click="search()">查&nbsp;询</button>
					<button class="btn_blue" ng-click="reset()">清&nbsp;空</button>
					<span style="padding-left: 20px; font-style: italic; color: blue;">* 默认显示七天内的数据</span>
				</div>
				<div class="mainTop"></div>
			</div>
			<div class="mb10 mt20">
				 <div class="btn-group" style="margin-left: 20px;">
				 	<button type="submit" class="btn_blue" ng-click="showCompareChart()" ws-permcode="main.analysis.terminal.uservisitdata.apCompareChart">对比</button>
					<button class="btn_blue dropdown-toggle" type="button" data-toggle="dropdown" ws-permcode="app.analysis.terminal.uservisitdata.exportUserVisitPage,app.analysis.terminal.uservisitdata.exportUserVisitCounts,app.analysis.terminal.uservisitdata.exportUserVisitSelected">导出Excel<span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
					  <li><a href="" ng-click="exportSelected()" ws-permcode="app.analysis.terminal.uservisitdata.exportUserVisitSelected">导出选定行</a></li>
				      <li><a href="" ng-click="exportPage()" ws-permcode="app.analysis.terminal.uservisitdata.exportUserVisitPage">导出当前页面</a></li>
				      <li><a ng-click="exportExcel()" href="" ws-permcode="app.analysis.terminal.uservisitdata.exportUserVisitCounts">输入条数导出</a></li>
				   </ul>
				</div>
				<button class="btn_blue right" data-toggle="collapse" data-target="#uservisitSearch" aria-expanded="false" aria-controls="uservisitSearch" >显示/隐藏搜索 </button>
			</div>
		</form>
		</ws-datagrid>
	</div>
	<!-- 对比s -->
	<div class="modal fade" id="apCompareModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" data-backdrop="static">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="border-radius:10px;">
				<div class="detail_top">
					<div class="detail_top_l pl10">AP到访对比</div>
					<div class="detail_top_r">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
						</button>
					</div>
				</div>
				<div class="modal-body">
					<div id="apCompareChart" class="chartInModal"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 对比e -->
	<!-- 人数s -->
	<div class="modal fade" id="viewModal" tabindex="-1" role="dialog"
		aria-labelledby="myvModalLabel" data-backdrop="static">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="border-radius:10px;">
				<div class="detail_top">
					<div class="detail_top_l pl10"><span ng-bind="uservisitDetail" style="font-style: italic;"></span>到访详情</div>
					<div class="detail_top_r">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
						</button>
					</div>
				</div>
				<div class="modal-body" ng-init="initViewPage()">
					<div class="row ws-searchbutton">
						<div class="col-md-12">
							<ws-datagrid configuration="datagridView" inner-ctrl="innerCtrlView"> 
								<form>
									<div class="col-md-12">
										<div class="row" ng-init="initSearchDetailDate()">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-5 control-label elabel" for="placeCode" title="用户MAC地址">用户MAC</label>
													<div class="col-sm-7 ebody">
														<input id="userMac" type="text" class="form-control input-sm" ng-model="datagridView.params.usermac"/>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<button type="submit" class="btn_blue" ng-click="searchDetail()">查询</button>
												<button type="button" class="btn_blue" ng-click="resetdEtail()">清空</button>
											</div>
										</div>
									</div>
								</form>
							</ws-datagrid>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 人数e -->
	<!-- 历史s -->
	<div class="modal fade" id="apHistoryModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" data-backdrop="static">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="border-radius:10px;">
				<div class="detail_top">
					<div class="detail_top_l pl10"><img src="resources/images/detail_img1.png">AP到访历史</div>
					<div class="detail_top_r">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
						</button>
					</div>
				</div>
				<div class="modal-body">
					<div id="apHistoryChart" class="chartInModal"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 历史e -->
	<!-- 导出 -->
	<div class="modal fade" id="exportExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="border-radius:10px;">
				<div class="detail_top">
					<div class="detail_top_l pl10">数据导出</div>
					<div class="detail_top_r">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
						</button>
					</div>
				</div>
				<div class="modal-body" >
					<form name="excelForm" novalidate>
	                      <section class="edit_main m10">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_edit">
                                <tr>
                                    <th><nobr>*</nobr>导出数据条数:</th>
                                    <td> 
                                        <input type="text" name="size" class="Input_edit"  ng-model="counts" required ng-pattern="/^(?!0)(?:[0-9]{1,3}|1000)$/" >
                                    </td>
                                </tr>
                            </table>
                        </section>
		             </form>
					<div class="errMsg">
						<div class="alert alert-danger" ng-messages="excelForm.size.$error" ng-show="excelForm.size.$dirty&&excelForm.size.$invalid" ng-message-multiple>
							<div ng-message="required">导出数据条数为必填项</div>
							<div ng-message="pattern">导出数据条数为数字并且小于1000</div>
						</div>
					</div>
					</div>
					<div class="mlP35 mb20 mt0">
	                    <button type="button" class="btn_blue" ng-click="resetExcel()">清空</button>
						<button id= "excelSaveBtn" type="button" class="btn_blue" ng-click="excelSave('excelSaveBtn')">导出</button>
						<button type="button" class="btn_blue" data-dismiss="modal">关闭</button>
	                </div>
			   </div>
			</div>
		</div>
</div>
